@import "./fonts.css";

:root {
    --color-green-positive: 60, 187, 180;
    --color-yellow-negative: 249, 173, 29;
    --color-dark-background: rgba(0, 0, 0, 0.4);
    --color-darker-background: rgba(0, 0, 0, 0.6);
    --color-darker-gray: rgba(51, 51, 51, 1);
    --color-dark-gray: rgba(70, 70, 70, 1);
    --color-light-gray: rgba(235, 235, 235, 1);
    --color-light-background: rgba(255, 255, 255, 0.4);
    --color-lighter-background: rgba(255, 255, 255, 0.8);
    --color-white: rgba(255, 255, 255, 1);
}

html,
body {
    background-color: var(--color-white);
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    width: 100%;
}

body {
    position: relative;
}

a,
a:visited {
    color: var(--color-white);
}

button {
    font-family: "Lato", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

hr[role="separator"] {
    border: 0 none;
    border-bottom: 2px dotted var(--color-dark-gray);
    margin: 1.5rem 1rem;
}

.nav {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 80%
    );
    display: flex;
    justify-content: space-between;
    min-height: 10rem;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: calc(100vw - 2rem);
    z-index: 2;
}

.icon-button {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.icon-button[aria-label="thumbs up"] {
    background-color: rgba(var(--color-green-positive), 0.8);
}

.icon-button[aria-label="thumbs up"]:hover {
    background-color: rgba(var(--color-green-positive), 1);
}

.icon-button[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative), 0.8);
}

.icon-button[aria-label="thumbs down"]:hover {
    background-color: rgba(var(--color-yellow-negative), 1);
}

.icon-button > img {
    height: 100%;
    width: 100%;
}

.nav__logo {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 2.5rem 0 0;
}

.nav__hamburger {
    height: 20px;
    position: relative;
    right: 1rem;
    top: 2rem;
    width: 25px;
}

.nav__links {
    background-color: var(--color-darker-background);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    left: 0;
    padding: 4rem 0 2rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100vw);
    width: 100vw;
}

.nav__links li {
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
    width: 100%;
}

.nav__links a {
    color: var(--color-white);
    text-decoration: none;
}

.nav__hamburger:focus + .nav__links,
.nav__links:focus-within {
    transform: translateX(0);
}

.nav__links li:last-child {
    order: -1;
}

.nav__search {
    height: 24px;
    margin-left: 0.5rem;
    width: 24px;
}

.nav__search-input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--color-white);
    border-radius: 0;
    color: var(--color-white);
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    transition: width 0.2s ease-in;
    width: 25vw;
}

.nav__search-input:focus {
    outline: 0 none;
    width: 60vw;
}

.hero {
    height: 80vw;
    margin-bottom: 2rem;
    max-height: 38rem;
    min-height: 35rem;
    overflow: hidden;
    position: relative;
}

.hero__background {
    height: 100%;
    left: -35vw;
    object-fit: cover;
    position: absolute;
    width: 160vw;
}

.hero__featured-card {
    left: 1rem;
    max-height: 25rem;
    overflow: hidden;
    position: relative;
    top: 5.5rem;
    width: 55vw;
}

.hero__closing-gauge {
    background-color: var(--color-light-background);
    bottom: 0;
    display: flex;
    height: 3rem;
    position: absolute;
    width: 100%;
}

.featured-card__glass-background {
    background: center no-repeat
            linear-gradient(
                var(--color-dark-background),
                var(--color-dark-background)
            ),
        -25vw 0/160vw no-repeat url("/img/pope-francis.png");
    filter: blur(1rem);
    height: 140%;
    left: -20%;
    position: absolute;
    top: -20%;
    width: 140%;
}

.featured-card__content {
    color: var(--color-white);
    padding: 1rem;
    position: relative;
}

.featured-card__hairline {
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
}

.featured-card__title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

.featured-card__desc {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 1.25rem;
    font-weight: 300;
    -webkit-line-clamp: 6;
    margin: 1rem 0;
    max-height: 10.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.featured-card__cta {
    font-weight: 700;
}

.featured-card__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem -1rem;
}

.featured-card__buttons > .icon-button {
    height: 2.75rem;
    width: 50%;
}

.featured-card__buttons > .icon-button > img {
    max-width: 1.25rem;
}

.closing-gauge__left {
    align-items: center;
    background-color: var(--color-dark-background);
    color: var(--color-white);
    display: flex;
    font-weight: 300;
    justify-content: flex-end;
    padding: 0 0.25rem 0 0;
    position: relative;
    text-transform: uppercase;
    width: 30%;
}

.closing-gauge__left:after {
    border-bottom: 0.25rem solid transparent;
    border-left: 0.5rem solid var(--color-dark-background);
    border-top: 0.25rem solid transparent;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: -0.5rem;
    width: 0;
}

.closing-gauge__right {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 0 0.75rem;
}

.closing-gauge__number {
    color: var(--color-dark-gray);
    font-size: 1.5rem;
    font-weight: 400;
}

.closing-gauge__desc {
    color: var(--color-dark-gray);
    font-size: 1.5rem;
    font-weight: 300;
}

.banner {
    align-items: center;
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
}

.banner__background {
    left: 0;
    object-fit: cover;
    opacity: 0.2;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.banner-top .banner__left {
    flex-basis: 40%;
    padding-right: 1rem;
}

.banner-top .banner__left > .banner__hairline {
    color: var(--color-dark-gray);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -0.07rem;
}

.banner-top .banner__left > .banner__title {
    color: var(--color-dark-gray);
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
}

.banner-top .banner__right {
    flex-basis: 60%;
}

.banner-top .banner__text {
    color: var(--color-dark-gray);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: -0.05rem;
    margin: 0;
}

.banner-bottom {
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 3rem;
}

.banner-bottom .banner__heading {
    color: var(--color-dark-gray);
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem;
    position: relative;
    text-align: center;
}

.banner-bottom .banner__right {
    width: 100%;
}

.banner-bottom .banner__cta {
    background: transparent;
    border: 2px solid var(--color-darker-background);
    color: var(--color-darker-gray);
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

main[role="main"] {
    margin-top: 2rem;
    padding: 0 1rem;
}

main h2,
main h3,
main h4 {
    color: var(--color-dark-gray);
    font-weight: 300;
}

main h2 {
    font-size: 2rem;
    margin: 0 0 2rem;
}

.footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 3rem;
}

.footer__links li {
    font-size: 1.25rem;
    padding: 0.5rem 0;
}

.footer__links li a {
    color: var(--color-dark-gray);
    text-decoration: none;
}

.footer__links li a:hover {
    color: var(--color-darker-gray);
    text-decoration: underline;
}

.footer__social > span {
    color: var(--color-darker-gray);
    font-size: 1.25rem;
    text-align: right;
}

.footer__social > ul {
    display: flex;
    margin-top: 1rem;
}

.footer__social > ul > li {
    margin-right: 1rem;
}

.featured-card__more-info {
    display: none;
}

.featured-card__more-info-icon {
    height: 1rem;
    margin-right: 0.5rem;
    width: 1.5rem;
}

.banner-top .icon-button {
    display: none;
}

.max-centered {
    display: contents;
}

@media all and (min-width: 500px) {
    .banner-top .banner__left {
        flex-basis: 30%;
    }

    .banner-top .banner__right {
        flex-basis: 70%;
    }
}

@media all and (min-width: 768px) {
    html,
    body {
        font-size: 14px;
    }

    .hero {
        max-height: 38rem;
    }

    .hero__background {
        height: auto;
        left: 0;
        top: -6.5rem;
        width: 110vw;
    }

    .featured-card__glass-background {
        background: center no-repeat
                linear-gradient(
                    var(--color-dark-background),
                    var(--color-dark-background)
                ),
            7vw -6.5rem/115vw auto no-repeat url(/img/pope-francis.png);
    }

    .featured-card__content {
        padding: 2rem 1.5rem;
    }

    .featured-card__more-info {
        display: inline-block;
        font-weight: 300;
        margin: 0;
    }

    .featured-card__buttons {
        margin: 0 -1.5rem -2rem;
    }

    .banner-top .banner__left {
        flex-basis: 20%;
    }

    .banner-top .banner__right {
        flex-basis: 80%;
    }

    .banner-bottom {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .banner-bottom .banner__background {
        top: -230%;
    }

    .banner-bottom .banner__right {
        width: auto;
    }

    .banner-bottom .banner__heading {
        font-size: 1.5rem;
        margin-bottom: 0;
    }

    .banner-bottom .banner__cta {
        width: 16rem;
    }

    .footer {
        align-items: flex-start;
    }

    .footer__links ul,
    .footer__social {
        display: flex;
    }

    .footer__links ul li {
        font-size: 1rem;
        margin-right: 2rem;
        padding: 0;
    }

    .footer__social {
        align-items: center;
    }

    .footer__social span {
        color: var(--color-dark-gray);
        font-size: 0.833rem;
        margin-right: 1rem;
    }

    .footer__social > ul {
        margin-top: 3px;
    }
}

@media all and (min-width: 1100px) {
    html,
    body {
        font-size: 18px;
    }

    .max-centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        position: relative;
        width: 100vw;
    }

    .max-centered > *,
    .max-centered > hr[role="separator"] {
        margin-left: 0;
        margin-right: 0;
    }

    .max-centered main {
        padding: 0;
    }

    .nav {
        min-height: 22vh;
    }

    .nav__logo {
        margin-top: 3rem;
    }

    .nav__hamburger {
        display: none;
    }

    .nav__links {
        align-items: center;
        background-color: transparent;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
        left: auto;
        padding: 0;
        position: absolute;
        right: 0;
        top: 3rem;
        transform: translateX(0);
        width: 40vw;
    }

    .nav__links li {
        font-size: 1rem;
        font-weight: 300;
        margin: 0 1rem 0 0;
        text-align: right;
        width: fit-content;
    }

    .nav__links li:last-child {
        order: 0;
    }

    .nav__search {
        height: 2rem;
        width: 2rem;
    }

    .nav__search-input {
        display: none;
    }

    .hero {
        min-height: 700px;
    }

    .hero__background {
        height: auto;
        left: 0;
        top: -2.5rem;
        width: 100vw;
    }

    .hero__featured-card {
        left: 0;
        margin-top: 2.5rem;
        max-height: unset;
        min-width: 600px;
        width: 50%;
    }

    .featured-card__glass-background {
        background: center no-repeat
                linear-gradient(
                    var(--color-dark-background),
                    var(--color-dark-background)
                ),
            calc(-50vw + 650px) -6rem/105vw auto no-repeat url(/img/pope-francis.png);
    }

    .featured-card__content {
        padding: 2rem 1.5rem;
    }

    .featured-card__desc {
        margin: 2rem 0 1rem;
        max-width: 85%;
    }

    .featured-card__cta {
        font-size: 1.5rem;
        margin: 1rem 0 2rem;
    }

    .featured-card__buttons {
        margin: 0 -1.5rem -2rem;
    }

    .featured-card__buttons > .icon-button {
        height: auto;
    }

    .featured-card__buttons > .icon-button > img {
        height: 2rem;
        margin: 1.3rem 0;
        max-width: 2rem;
    }

    .closing-gauge__left {
        padding-right: 1rem;
    }

    .closing-gauge__right {
        padding-left: 1rem;
    }

    .closing-gauge__title {
        font-size: 1.25rem;
    }

    .closing-gauge__number,
    .closing-gauge__desc {
        font-size: 2rem;
    }

    .closing-gauge__left:after {
        border-bottom-width: 0.33rem;
        border-top-width: 0.33rem;
    }

    .banner-top .banner__text,
    .banner-top .banner__left > .banner__hairline {
        font-size: 1rem;
    }

    .banner-top .banner__left > .banner__title {
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    .banner-top .icon-button {
        display: block;
        margin-left: 2rem;
    }

    .banner-bottom .banner__cta {
        width: 20rem;
    }

    main h2 {
        font-size: 2.5rem;
    }

    hr[role="separator"] {
        margin: 2rem 0;
    }
}
