.dropdown {
    background: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    display: none;
    height: 28px;
    list-style: none;
    width: 131px;

    &__list {
        align-items: center;
        align-items: start;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    &__link {
        align-items: center;
        color: #333 !important;
        display: flex;
        font-family: Lato;
        font-size: 10.5px;
        font-style: normal;
        font-weight: 400;
        height: inherit;
        height: 24px;
        justify-content: space-between;
        line-height: 100%;
        padding: 0 11px;

        text-align: center;
        text-decoration: none;
        width: 100%;
    }
    &__link-label {
        flex-grow: 1;
        text-transform: capitalize;
    }

    &__menu {
        border: 2px solid #333;
        border-top: 0;
        box-sizing: border-box;
        display: none;
        left: -2px;
        position: absolute;
        top: 26px;
        width: 131px;
        z-index: 2;

        &--active {
            display: block;
        }
    }
    &__menu-item {
        align-items: center;
        background: #fff;
        border-bottom: 2px solid #000;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        color: #333;
        cursor: pointer;
        display: flex;
        font-family: Lato;
        font-size: 10.5px;
        font-style: normal;
        font-weight: 400;
        height: 28px;
        justify-content: center;
        line-height: 100%;
        text-align: center;

        &:hover {
            background: #ededed;
        }

        &:last-child {
            border-bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    .dropdown {
        display: block;
    }
}
