.people-card {
    cursor: grabbing;
    display: inline-block;
    height: 300px;
    margin: 0 12px 0 0;
    position: relative;
    transition: 0.3s ease;
    user-select: none;
    white-space: normal;

    &__image {
        pointer-events: none;
        user-select: none;
    }
    &__cover {
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: end;
        left: 0;
        position: absolute;
        top: 0px;
        width: 100%;
    }
    &__content {
        display: flex;
        padding-top: 40px;
    }
    &__content-left {
        padding-top: 4px;
    }
    &__content-right {
        padding-left: 5.69px;
        padding-right: 33.71px;
    }
    &__title {
        color: #fff;
        font-family: Lato;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        overflow: hidden;
        padding-bottom: 7px;
        text-overflow: ellipsis;
        white-space: nowrap;

        width: 230px;
    }
    &__excerpt-box {
        display: flex;
        flex-direction: row;
    }
    &__excerpt-container {
        /* background-color: lightgreen; */
        height: 30px;
        padding-bottom: 16px;
        /* width: 200px; */
    }

    &__excerpt {
        -webkit-box-orient: vertical;
        color: #fff;
        display: -webkit-box;
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        -webkit-line-clamp: 2;
        line-height: normal;
        overflow: hidden;
        padding-bottom: 3px;
        text-overflow: ellipsis;
    }
    &__date {
        color: #fff;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 16px;
        text-align: right;
    }
    &__buttons {
        align-items: center;
        display: flex;
        gap: 12px;
        justify-content: right;
        padding-bottom: 12px;
    }
    &__thumb-button {
        cursor: pointer;
        &--active {
            border: 2px solid white;
        }
    }
    &__btn-vote-now {
        background: rgba(0, 0, 0, 0.6);
        border: 1px solid #fff;
        color: #fff;
        font-family: Lato;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 0;
        text-align: center;
        width: 107px;
        &--active {
            background: rgba(48, 48, 48, 0.6);
            cursor: pointer;
        }
    }

    &__progress-bar {
        height: 36px;
        position: relative;
    }
    &__percentage-bars {
        display: flex;
        height: inherit;
    }
    &__percentage-blue-bar {
        background: rgba(60, 187, 180, 0.6);
        height: inherit;
        width: 50%;
    }
    &__percentage-orange-bar {
        background: rgba(249, 173, 29, 0.6);
        height: inherit;
        width: 50%;
    }
    &__percentage-items {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        height: inherit;
        justify-content: space-between;
        padding: 0 12px;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &__percentage-item {
        display: flex;
        gap: 5px;
    }
    &__percentage-label {
        color: #fff;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media (min-width: 768px) {
    .people-card {
        cursor: initial;
        height: 351px;
        margin: initial;
    }

    .people-card--list {
        background: initial;
        /* border: 1px solid red; */
        cursor: initial;
        display: flex;
        height: 142px;
        margin: initial;
        position: relative;
        transition: 0.3s ease;
        user-select: initial;
        white-space: initial;
        width: inherit;

        .people-card__image {
            pointer-events: initial;
            user-select: initial;
        }
        .people-card__cover {
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0) 0%,
                #888 21.79%,
                #666 50%,
                rgba(51, 51, 51, 0.6) 71.88%
            );
            display: flex;
            height: inherit;
            justify-content: space-between;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .people-card__content {
            display: flex;
            padding-top: 0;
            width: inherit;
        }
        .people-card__content-left {
            padding-top: 0;
        }
        .people-card__content-right {
            /* border: 1px solid yellow; */

            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            padding-left: 120px;
            padding-right: 12px;
        }
        .people-card__info {
            padding-right: 30px;
        }
        .people-card__actions {
        }
        .people-card__title {
            font-size: 28px;
            overflow: hidden;
            padding-bottom: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 287px;
        }
        .people-card__excerpt-box {
            display: flex;
            flex-direction: row;
        }
        .people-card__excerpt-container {
            /* background-color: lightgreen; */
            height: 30px;
            padding-bottom: 16px;
            /* width: 200px; */
        }
        .people-card__excerpt {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            font-size: 14px;
            -webkit-line-clamp: 2;
            overflow: hidden;
            padding-bottom: 2px;
            text-overflow: ellipsis;
        }
        .people-card__date {
            padding-bottom: 12px;
            padding-top: 8px;
            text-align: right;
        }
    }
}

@media (min-width: 1100px) {
    .people-card {
        height: 348px;
    }

    .people-card--list {
        height: 170px;

        .people-card__content-right {
            padding-left: 213px;
        }
        .people-card__info {
            padding-right: 20px;
        }

        .people-card__title {
            font-size: 28px;
            overflow: hidden;
            padding-bottom: 18px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 287px;
        }
    }
}
