.people {
    align-items: center;
    display: flex;
    justify-content: center;

    position: relative;

    &__list {
        height: 300px;
        list-style: none;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: unset;
        user-select: none;
        white-space: nowrap;

        &::-webkit-scrollbar {
            display: none;
        }
        .people-card:last-child {
            margin: 0;
        }
    }
}

@media (min-width: 768px) {
    .people {
        align-items: initial;
        justify-content: initial;
        position: initial;

        &__list {
            background: initial;
            display: flex;
            flex-flow: wrap;
            gap: 14px;
            height: initial;
            justify-content: space-between;
            list-style: none;
            max-width: initial;
            overflow-x: initial;
            overflow-y: initial;
            padding: 0;
            scroll-behavior: initial;
            user-select: initial;
            white-space: initial;

            &::-webkit-scrollbar {
                display: initial;
            }
        }
    }
    .people--list {
        align-items: initial;
        justify-content: left;
        max-width: initial;
        position: initial;

        .people__list {
            background: initial;
            gap: 21px;
            height: initial;
            list-style: none;
            max-width: initial;
            overflow-x: initial;
            overflow-y: initial;
            padding: 0;
            scroll-behavior: initial;
            user-select: initial;
            white-space: initial;
            width: 100%;

            &::-webkit-scrollbar {
                display: initial;
            }
        }
    }
}

@media (min-width: 800px) {
    .people {
        &__list {
            justify-content: space-around;
        }
    }
}

@media (min-width: 1100px) {
    .people {
        &__list {
            gap: 27px;
            justify-content: space-between;
        }
    }

    .people--list {
        .people__list {
            gap: 18px;
        }
    }
}
