.people-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &__title {
        color: #464646;
        font-family: Lato;
        font-size: 24px !important;
        font-style: normal;
        font-weight: 300 !important;
        line-height: normal;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .people-header {
        margin-bottom: 36px;

        &__title {
            font-size: 45px !important;
        }
    }
}
